<h2>Welcome to TO DO LIST </h2>
<h3>Here is your list</h3>

<% @tasks.each do |task| %>
  <h4><%= link_to task.name, tasks_path(task) %></h4>
  <p><%= task.done %></p>
  <p><%= link_to "Edit", tasks_path(task), method: :edit %></p>
  <p><%= link_to "Delete", tasks_path(task), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <hr>
<% end %>
